.app {
  width: 100vw;
  height: calc(100vh - #{$navbar-height});
  
  &__content {
    min-height: 100vh;
    padding-top: $navbar-height;
    background-color: $light-gray;
    display: flex;

    // Momentary solution
    background: linear-gradient(90deg, $secondary 50%, $white 50%);
  }
}