.button {
  display: inline-block;
  line-height: 40px;
  min-width: 160px;

  border: 1px solid $primary;
  border-radius: 30px;
  
  text-decoration: none;
  text-align: center;
  font-size: 12px;

  background-color: $primary;
  color: $white;

  transition: .3s background-color;

  &--uppercase {
    text-transform: uppercase;
  }

  &:hover {
    background-color: darken($primary, 30%);
  }
}