.content-structure {
  &__title, &__description {
    color: $gray;
  }

  &__title {
    font-size: 40px;
    margin-bottom: 30px;
  }

  &__description {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 50px;
  }

  &__action-link {
    text-align: center;
  }
}