.navbar-link {
  position: relative;
  margin-right: 20px;
  padding: 10px;
  text-decoration: none;
  color: $primary;
  transition: .3s color, .3s background-color;
  
  &:last-of-type {
    margin-right: 0;
  }
  
  &:hover {
    color: darken($primary, 20%);
  }

  &--active {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background-color: $primary;
      transition: .3s background-color;
    }

    &:hover {
      &::after {
        background-color: darken($primary, 20%);
      }
    }
  }

  &--button-like {
    color: $white;
    background-color: $primary;
    text-align: center;
    border-radius: 30px;
    line-height: 20px;
    width: 100px;

    &:hover {
      color: $white;
      background-color: darken($primary, 20%);
    }

    &::after {
      display: none;
    }
  }
}